In [6]:
import numpy as np 
import pandas as pd

In [7]:
credits = pd.read_csv("C:\\Users\\tanis\\Downloads\\tmdb_5000_credits.csv")

In [8]:
movies = pd.read_csv("C:\\Users\\tanis\\Downloads\\tmdb_5000_movies.csv")

In [9]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [10]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [11]:
movies = movies.merge(credits,on = 'title')

In [12]:
movies.shape

(4809, 23)

In [13]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [14]:
# genres
#id
#keywords
#title
#overview
#cast
#crew
movies = movies[['genres'
,'id',
'keywords',
'title',
'overview',
'cast',
'crew']]
movies.head(1)

,genres,id,keywords,title,overview,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [15]:
movies.isnull().sum()

genres      0
id          0
keywords    0
title       0
overview    3
cast        0
crew        0
dtype: int64

In [16]:
movies.dropna(inplace = True)

In [17]:
movies.duplicated().sum()

np.int64(0)

In [18]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [19]:
# "{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
# we need to change this ["Action", "Adventure","Fantasy","Science Fiction"]

In [21]:
def hello(obj):
    l = []
    for i in ast.literal_eval(obj):
        l.append(i['name'])
    return l

In [22]:
hello('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')
# so basically it is in the string form that's why it is not workiing so change into list

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [20]:
# it is change string into literals
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [23]:
movies['genres'] = movies['genres'].apply(hello)

In [24]:
movies['keywords'] = movies['keywords'].apply(hello)

In [25]:
movies.head(1)

,genres,id,keywords,title,overview,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [26]:
def hello(obj):
    l = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
          l.append(i['name'])
          counter+=1
        else: 
         break
    return l

    # they print the top 3 cast from the film

In [27]:
movies['cast'] = movies['cast'].apply(hello)

In [28]:
movies.head(1)

,genres,id,keywords,title,overview,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [30]:
import ast
def fetch_director(obj):
    try:
        crew_list = ast.literal_eval(obj)
        for i in crew_list:
            if i.get('job') == 'Director':
                return i.get('name')
        return None
    except:
        return None

In [31]:
movies['crew'] = movies['crew'].apply(fetch_director)
movies.head(1)

,genres,id,keywords,title,overview,cast,crew
0,"[Action, Adventure, Fantasy, Science Fiction]",19995,"[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",James Cameron

In [32]:
movies = movies[['id','title','genres','overview','keywords','cast','crew']]
movies.head(1)

,id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",James Cameron

In [33]:
movies.overview[0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [34]:
movies.dropna(inplace=True)

In [35]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [36]:
movies['overview']

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4776, dtype: object

In [37]:
movies['overview'].isnull().sum()

np.int64(0)

In [38]:
movies.head(2)

,id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",James Cameron
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",Gore Verbinski

In [39]:
movies['genres'] = movies['genres'].apply(lambda x : [i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x :[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x :[i.replace(" ","") for i in x])

In [40]:
movies.head(1)

,id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",James Cameron

In [43]:
import ast

def clean_crew(x):
    # Case 1: if it's already a list
    if isinstance(x, list):
        # If it's a list of characters like ['J', 'a', 'm'...] — ignore it
        if all(isinstance(i, str) and len(i) == 1 for i in x):
            return []
        return [i.replace(" ", "") for i in x]

    # Case 2: if it's a string
    if isinstance(x, str):
        try:
            # Try to evaluate it as a list
            evaluated = ast.literal_eval(x)
            if isinstance(evaluated, list):
                return [i.replace(" ", "") for i in evaluated]
        except:
            pass
        # Plain string case like 'James Cameron'
        return [x.replace(" ", "")]

    # Fallback for anything else
    return []

movies['crew'] = movies['crew'].apply(clean_crew)
# "[ 'James Cameron', 'Jon Landau' ]"   → string
# "James Cameron"                       → string
# ['James Cameron', 'Jon Landau']       → list
# ['J','a','m','e','s']                 → wrong list
# convert all into list

In [44]:
movies.head(1)

,id,title,genres,overview,keywords,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

In [45]:
def combine_tags(row):
    return (
        str(row['id']) + " " +
        str(row['title']) + " " +
        " ".join(row['genres']) + " " +
        str(row['overview']) + " " +
        " ".join(row['keywords']) + " " +
        " ".join(row['cast']) + " " +
        " ".join(row['crew'])
    )

movies['tags'] = movies.apply(combine_tags, axis=1)

In [46]:
new_df = movies[['id','title','tags']]
new_df['tags'][0]

"19995 Avatar Action Adventure Fantasy ScienceFiction ['In', 'the', '22nd', 'century,', 'a', 'paraplegic', 'Marine', 'is', 'dispatched', 'to', 'the', 'moon', 'Pandora', 'on', 'a', 'unique', 'mission,', 'but', 'becomes', 'torn', 'between', 'following', 'orders', 'and', 'protecting', 'an', 'alien', 'civilization.'] cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron"

In [47]:
new_df['tags'] = new_df['tags'].apply(lambda x : " ".join(x))

C:\Users\tanis\AppData\Local\Temp\ipykernel_6356\3530946481.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x : " ".join(x))

In [48]:
new_df.head(1)

      id   title                                               tags
0  19995  Avatar  1 9 9 9 5   A v a t a r   A c t i o n   A d v ...

In [49]:
new_df['tags']

0       1 9 9 9 5   A v a t a r   A c t i o n   A d v ...
1       2 8 5   P i r a t e s   o f   t h e   C a r i ...
2       2 0 6 6 4 7   S p e c t r e   A c t i o n   A ...
3       4 9 0 2 6   T h e   D a r k   K n i g h t   R ...
4       4 9 5 2 9   J o h n   C a r t e r   A c t i o ...
                              ...
4804    9 3 6 7   E l   M a r i a c h i   A c t i o n ...
4805    7 2 7 6 6   N e w l y w e d s   C o m e d y   ...
4806    2 3 1 6 1 7   S i g n e d ,   S e a l e d ,   ...
4807    1 2 6 1 8 6   S h a n g h a i   C a l l i n g ...
4808    2 5 9 7 5   M y   D a t e   w i t h   D r e w ...
Name: tags, Length: 4776, dtype: object

In [59]:
new_df['tags'] = new_df['tags'].apply(lambda x: "".join(x.split()))

C:\Users\tanis\AppData\Local\Temp\ipykernel_6356\510815466.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: "".join(x.split()))

In [60]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000 , stop_words = 'english')
# CountVectorizer is a method to convert a collection of text documents into a matrix of token counts (how many times each word appears). 
# This is also known as the Bag of Words model.
# Parameter	                Meaning
# max_features   =        5000	Only the top 5000 most frequent words will be considered (to reduce dimensionality).
# stop_words    =             'english'	Common English stop words (like the, is, and, etc.) will be removed.

In [61]:
new_df['tags'].head()

0    19995AvatarActionAdventureFantasyScienceFictio...
1    285PiratesoftheCaribbean:AtWorld'sEndAdventure...
2    206647SpectreActionAdventureCrime['A','cryptic...
3    49026TheDarkKnightRisesActionCrimeDramaThrille...
4    49529JohnCarterActionAdventureScienceFiction['...
Name: tags, dtype: object

In [62]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [ ]:
vectors
# yeh zero zero basically yeh dikha raha hai yeh words ek dusre se kitna match kr rahi hai

In [63]:
corpes = cv.get_feature_names_out()
corpes

array(['000', '007', '10', ..., 'zombies', 'zone', 'zoo'],
      shape=(5000,), dtype=object)

In [50]:
!pip install nltk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in c:\users\tanis\appdata\roaming\python\python313\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\tanis\appdata\roaming\python\python313\site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in c:\users\tanis\appdata\roaming\python\python313\site-packages (from nltk) (1.5.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\tanis\appdata\roaming\python\python313\site-packages (from nltk) (2025.7.29)
Requirement already satisfied: tqdm in c:\users\tanis\appdata\roaming\python\python313\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\tanis\appdata\roaming\python\python313\site-packages (from click->nltk) (0.4.6)

In [51]:
import nltk

In [52]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
# it change same type of word into same 
# love  → lov
# loved → lov
# loving → lov

In [53]:
ps.stem('dancing')
# it is basically cut the string

'danc'

In [54]:
def stem(text):
    y =[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [55]:
new_df['tags'].apply(stem)

0       19995avataractionadventurefantasysciencefictio...
1       285piratesofthecaribbean:atworld'sendadventure...
2       206647spectreactionadventurecrime['a','cryptic...
3       49026thedarkknightrisesactioncrimedramathrille...
4       49529johncarteractionadventuresciencefiction['...
                              ...
4804    9367elmariachiactioncrimethriller['el','mariac...
4805    72766newlywedscomedyromance['a','newlywed',"co...
4806    231617signed,sealed,deliveredcomedydramaromanc...
4807    126186shanghaicalling['when','ambitious','new'...
4808    25975mydatewithdrewdocumentary['ever','since',...
Name: tags, Length: 4776, dtype: object

In [56]:

# Join the list into a single string before passing
cleaned_words = ["".join(word) for word in new_df['tags']]
sentence = " ".join(cleaned_words)

In [57]:
new_df['tags'][0]

"19995AvatarActionAdventureFantasyScienceFiction['In','the','22nd','century,','a','paraplegic','Marine','is','dispatched','to','the','moon','Pandora','on','a','unique','mission,','but','becomes','torn','between','following','orders','and','protecting','an','alien','civilization.']cultureclashfuturespacewarspacecolonysocietyspacetravelfuturisticromancespacealientribealienplanetcgimarinesoldierbattleloveaffairantiwarpowerrelationsmindandsoul3dSamWorthingtonZoeSaldanaSigourneyWeaverJamesCameron"

In [58]:
from sklearn.metrics.pairwise import cosine_similarity

In [59]:
similarity = cosine_similarity(vectors)

In [60]:
sorted(list(enumerate(similarity[0])),reverse = True,key = lambda x:x[1])[1:6]
# yeh basically sort kr rahi aur index bhi sath hi leke aarha hai aur 1 se 6 tak movies select hogi

[(151, np.float64(0.2773500981126146)),
 (3606, np.float64(0.2631174057921088)),
 (529, np.float64(0.173259232729684)),
 (2132, np.float64(0.16012815380508716)),
 (1214, np.float64(0.13355611265883557))]

In [61]:
new_df[new_df['title'] == 'Batman Begins'].index[0]
# it find the index of movie

np.int64(119)

In [62]:
def recommend(movie):
    if movie not in new_df['title'].values:
        print(f"'{movie}' not found in database.")
        return

    movie_index = new_df[new_df['title'] == movie].index[0]
    distance = similarity[movie_index]
    movie_list = sorted(list(enumerate(distance)), reverse=True, key=lambda x: x[1])[1:6]

    for i in movie_list:
        print(new_df.iloc[i[0]].title)

In [63]:
recommend('Batman Begins')

Batman Forever
Raising Helen
Synecdoche, New York
Batman
Batman

In [64]:
import pickle
pickle.dump(new_df,open('movie_list.pkl','wb'))

In [65]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [66]:
pickle.dump(similarity,open('similarity.pkl','wb'))